/* Ajuste de posición de la lista de reproducción */
.playlist-list {
    position: relative;
    z-index: 999; /* Asegura que la lista de reproducción esté por encima del sidebar */
    width: 60%;
}

/* Ajuste de margen para dispositivos md */
.list-md ion-label:hover{
    background-color: #949494; /* Cambia este color por el que desees */
    transition: background-color 0.3s ease; /* Añade una transición suave al cambio de color */
    padding: 12px;
    border-radius: 2px;

}
.list-md{
    margin-left: 290px;

}

