
<ion-content class="ion-padding">
  <div class="container">
    <ion-button class="create-button" (click)="irANuevoPlaylist()">Crear Playlist</ion-button>
    
    <div class="playlist-container">
      <ion-list>
        <ion-item *ngFor="let playlist of playlists">
          <ion-label>
            <h2>ID: {{ playlist.id }}</h2>
            <p>Nombre: {{ playlist.nombre }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="success" (click)="abrirPlaylist(playlist.id)">Abrir</ion-button>
            <ion-button color="primary" (click)="modificarPlaylist(playlist)">Modificar</ion-button>
            <ion-button color="danger" (click)="deletePlaylist(playlist.id)">Eliminar</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
